.checkbox-all {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-left: 1rem;
  padding: 5px;
}

.checkbox-all p {
  margin-left: 0.5rem;
}

.checkbox-all input {
    margin-top: 0.33rem;
}