.text-input__form {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    width: 45vw;
}

.text-input__label {
    margin: 4px 0;
    font-size: 12px;
    line-height: 14px;
}

.text-input__input {
    border: 1px solid #444D56;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 1rem;
    font-size: 16px;
    line-height: 150%;
    color: #2C2E2F;
}

.text-input__input:focus-visible {
    border: 2px solid #0366D6;
    box-sizing: border-box;
}

:focus-visible {
    outline: none;
}

.text-input__input::placeholder {
    color: #586069;
}