.text-input__form {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 45vw;
    position: relative;
}

.text-input__label {
    margin: 4px 0 2px 0;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    position: absolute;
    top: 1rem;
    left:1rem;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: top 150ms ease-in, font-size 150ms ease-in, opacity 0ms 150ms;
}

.text-input__input:focus-visible + .text-input__label {
    top: 0.25rem;
    left: 1rem;
    font-size: 12px;
    line-height: 14px;
    opacity: 1;
    transition: top 150ms ease-in, font-size 150ms ease-in, opacity 0s;
}

.text-input__input:not(:placeholder-shown) + .text-input__label{
    top: 0.25rem;
    left: 1rem;
    font-size: 12px;
    line-height: 14px;
    opacity: 1;
}

.text-input__input {
    border: 1px solid #444D56;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 1rem 1rem 1rem 1rem;
    font-size: 16px;
    line-height: 150%;
    color: #2C2E2F;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.text-input__note {
    position: absolute;
    top: 3.5rem;
    left: 0;
}

.text-input__input:focus-visible {
    border: 2px solid #0366D6;
    box-sizing: border-box;
    padding: calc(1.5rem - 1px) calc(1rem - 1px) calc(0.5rem - 1px) calc(1rem - 1px);
}

.text-input__input:not(:placeholder-shown) {
    padding: 1.5rem 1rem 0.5rem 1rem;
}

.text-input__input:not(:placeholder-shown):focus-visible {
    padding: calc(1.5rem - 1px) calc(1rem - 1px) calc(0.5rem - 1px) calc(1rem - 1px);
}

:focus-visible {
    outline: none;
}

.text-input__input::placeholder {
    color: #586069;
    transition: color 0ms 150ms;
}
.text-input__input:focus::placeholder{
    color: transparent;
    transition: color 0ms 0ms;
}