.application {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.input-window,
.output-window {
  text-align: center;
  padding: 50px;
  border: solid 2px;
  width: 50%;
  height: 100%;
}
