.application {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85vh;
}

.input-window,
.output-window {
  flex-direction: column;
  text-align: center;
  padding: 50px 10px;
  width: 50%;
  height: 100%;
}

.text-area {
  position: relative;
  width: 45vw;
  height: 10em;
  margin-bottom: 20px;
}

.text-area__label {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  z-index: 10;
  font-size: 12px;
  line-height: 14px;
}

.text-area__area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px 1rem;
  border: 1px solid #444d56;
  box-sizing: border-box;
  border-radius: 3px;
  resize: none;  
}

.text-area__area:focus-visible {
  border: 2px solid #0366d6;
  box-sizing: border-box;
  border-radius: 3px;
}

.text-area__area::placeholder{
  color: #586069;
}

.btn {
  margin: 0px 1em;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  background-color: white;
  box-shadow: 2px 1px grey;
  border-radius: 5px;
  animation: all 1s;
}
.btn:hover,
.btn:active {
  transform: scale(1.1);
  background-color: indianred;
  color: white;
}

p {
  text-align: left;
}

.action-buttons {
  display: flex;
  flex-direction: row;
}
